@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Container div styling */
.pokemon-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Pokemon card styling */
.pokemon {
    border-radius: 5px;
    border: solid 1px #000;
    padding: 0 10px;
    min-width: 225px;
    transition: ease 0.2s;
}

.pokemon {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Hover over pokemon card style */
.pokemon:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.pokemon a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}

.pokemon a .image-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: 700;
}

.number {
    font-size: 14px;
    font-weight: 300;
}

.switch-page-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* Color of card depending on the type of the pokemon */

/* Ground types */
.pokemon-ground {
    background-color: #8B4513; 
}

/* Water types */
.pokemon-water {
    background-color: #62929E; 
}

/* Fire types */
.pokemon-fire {
    background-color: #F96E46; 
}

/* Fighting types */
.pokemon-fighting {
    background-color: #D84727;
}

/* Flying types */
.pokemon-flying {
    background-color: #87CEEB; 
}

/* Poison types */
.pokemon-poison {
    background-color: #9932CC; 
}

/* Electric types */
.pokemon-electric {
    background-color: #FFD700; 
}

/* Psychic types */
.pokemon-psychic {
    background-color: #FF69B4; 
}

/* Bug types */
.pokemon-bug {
    background-color: #D0E562; 
}

/* Rock types */
.pokemon-rock {
    background-color: #B22222; 
}

/* Ghost types */
.pokemon-ghost {
    background-color: #808080; 
}

/* Dragon types */
.pokemon-dragon {
    background-color: #708090; 
}

/* Dark types */
.pokemon-dark {
    background-color: #000000; 
}

/* Steel types */
.pokemon-steel {
    background-color: #4682B4; 
}

/* Fairy types */
.pokemon-fairy {
    background-color: #FFB6C1; 
}

/* Normal types */
.pokemon-normal {
    background-color: #A9A9A9;
}

/* Ice types */
.pokemon-ice {
    background-color: #ADD8E6; 
}

/* Grass types */
.pokemon-grass {
    background-color: #ACE894; 
}
